.header__logo {
  width: 142px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 104px;
      }
}