.header__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  padding: 0;
  margin: 51px 0 41px 0;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header__text {
    font-size: 14px;
    margin: 34px 30px 33px 0;
      }
}