.popup__authorization-picture {
  width: 120px;
  height: 120px;
  margin: 26px auto 32px auto;
  background-image: url('../../../images/popup__authorization-ok.svg');
}


@media screen and (max-width: 767px) {
  .popup__authorization-picture{
    margin: 25px auto 40px auto;
  }
}