.authorization__capture {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 122%;
  text-align: center;
  color: #fff;
  margin: 15px 0 0 0;
  padding: 0;
  text-decoration: none;
}